:root {
    --clr1: #ddd;
    --clr2: #efefef;
    --clr3: #333;
    --clr4: tomato;
    --border-radius: 7px;
    --text-radius: 50em;
  }

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

/* Navbar section */

.nav {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    width: 100%;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 100;
    background-color: white;
    box-shadow: 0 0 5px #0e1c4f40;
}

.nav .container-fluid{
    display: flex;
    align-items: center;
}

.nav .container-fluid .logo {
    padding-left: 3rem;
    width: 15%;
}

.nav div.logo img{
    width: 100%;
}

/* .nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
} */

.nav div.logo a:hover {
    color: #c4122f;
}

.nav div.main_list {
    position: absolute;
    right: 0;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #c4122f;
    line-height: 65px;
    font-size: 14px;
}

.nav div.main_list ul li a:hover {
    color: #460913;
}

.nav div.main_list ul li a .btn{
    margin-top: 0;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (max-width:990px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
        z-index: 100000;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    /* padding: 0; */
    background-color: #fff;
    opacity: 0.9;
}

/* HERO */

.mega {
    font-size: 5em; /* 72 / 18 = 4 */
    margin-bottom: 0.4125rem;
    line-height: 1;
    margin-top: 0;
    color: #fff;
	display: inline-block;
	position: relative;
    -moz-font-feature-settings: "liga=1, dlig=1"; /* common and discretionary ligatures */
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    z-index: 1;
}

.bold{font-weight: 700;}

.color-emphasis-1{color: #FF4056}

.section{
	width: 100%;
    height: 100vh;
	padding: 3rem 0;
	position: relative;
    background-color: #2A2C39;
    z-index: 1;
}

.wrapper{
	max-width: 53.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:50%;
	text-align: center;
    display: flex;
    flex-direction: column;
}

section:before{
	content: attr(data-description);
	font-size: 0.9rem;
	font-family: 'oswald';
	color: #fff;
	position: absolute;
	z-index: 20;
	left: 2rem;
	top: 2rem;
}

@media screen and (min-width: 1440px) {
    section{height:700px}
}

.btn {
    margin-top: 5vh;
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: 'Open Sans';
    font-weight: 700;
    color: white;
    background-color: #c4122f;
    cursor: pointer;
}

.btn:hover {
transform: translateY(-3px);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
transform: translateY(-1px);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 100px;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s;
}

.btn::after {
background-color: #fff;
}

.btn:hover::after {
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}

#timer{
    font-size: 50px;
    font-family: 'Lato';
    color: #FF4056;
    padding-top: 20%;
}

/* REASONS */


.slider {
    background: #eee;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
            animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__image {
    font-size: 2.7rem;
        color: #2196F3;
  }
  .slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }
  .slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  .main-container {
    padding: 30px;
  }
  /* ---------------- */
  
  /* HEADING */
  
  .heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
  }
  
  .heading__credits {
    margin: 10px 0px;
    font-weight: 600;
    font-size: 35px;
    transition: all 0.5s;
  }
  
  
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  
  
  .card__icon {
    grid-row: 2/3;
    font-size: 40px;
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
  }

  .card > h2 > span{
    font-size: 20px;
    color: #333;
  }
  
  .card__apply {
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }

  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  

  /* MESSAGE */

  /* Video header */
.header-container {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
   }
   
   .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   }
   
   video {
    position: absolute;
    width: 100%;
   }

/* FOOTER */

.footer-container {
    margin: auto;
    padding: 0 1rem;
    max-width: 71.25rem;
    width: 100%;
  }
  
  .footer-grid {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
  }
  .footer-grid > [class*=footer-column-] {
    display: block;
  }

  .footer-column-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  @supports (display: grid) {
    .footer-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
    }
    .footer-grid > [class*=footer-column-] {
      margin: 0;
      max-width: 100%;
    }

    .footer-column-xs-12 {
        grid-column-start: span 12;
        grid-column-end: span 12;
      }
  }


.footer-social, .footer-copyright {
    margin: 1rem;
  }
  
  .footer-social li {
    display: inline-block;
  }

  footer {
    padding: 1rem 0;
    background: #f7f7f7;
    text-align: center;
    font-size: 2rem;
  }

/* Statistics */
#chartContainer{
    background-color: #2A2C39;
}

#donutchart{
    background-color: #2A2C39;
}

.progress-bg {
	margin: 0 auto;
	height: 78px;
    width: 40%;
	border-radius: 50px;
    text-align: center;
	-moz-box-shadow:    inset 0 0 10px #ccc;
	-webkit-box-shadow: inset 0 0 10px #ccc;
	box-shadow:         inset 0 0 10px #ccc;
}

.progress-bar {
	height: 78px;
	border-radius: 50px;
	float: left;
	/* fallback */ 
	background-color: #9e5ddb; 	
}

.progress-bg h3.goal, .progress-bg h3.raised {
	font-family: 'Lato',sans-serif;
    font-size: 2em;
    font-weight: 600;
	line-height: 78px;
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline;
}


.progress-bg h3.raised {
	color: #fff;
	margin: 14px 25px 0 50px;
	padding: 0 25px 0 0;
}

.progress-bg h3.goal {
	color: #b6abab;
    text-align: center;
}

body .progress-bg h3.raised {
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.progress-bg h3.goal {
	float: right;
	display: inline;
	padding: 0 25px 0 0;
  text-align: center;
}

body .progress-bg div {
	-webkit-animation: progress-bar 2s ease forwards;
	-moz-animation: progress-bar 2s ease forwards;
	-o-animation: progress-bar 2s ease forwards;
	animation: progress-bar 2s ease forwards;
}

@-webkit-keyframes progress-bar {
    from { width: 0%; }
    to { width: 50%; }
}

@-moz-keyframes progress-bar {
    from { width: 0%; }
    to { width: 50%; }
}

@-o-keyframes progress-bar {
    from { width: 0%; }
    to { width: 50%; }
}

@keyframes progress-bar {
    from { width: 0%; }
    to { width: 50%; }
}

.stats-container .section{
    padding: 0;
}

.stats-container .container .row{
    padding-bottom: 5%;
}

h1{
    font-family: 'Lato';
}

.stats-container .container .row h1{
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: 600;
}

#donutchart{
    position: relative;
    left: 10%;
}
/* Message */
.message{
    padding-top: 2%;
}

.message h1{
    text-align: center;
    color: #2A2C39;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: 600;
}

.message .mbr-section-title {
    line-height: 1.07;
    letter-spacing: -2px;
    margin-bottom: 37px;
    color: #2A2C39;
    text-align: left;
}

.display-1 {
    font-family: 'Lato', sans-serif;
    font-size: 2.625rem;
}

.mbr-section-title {
    font-style: normal;
}

.message .mbr-text{
    color: black;
    line-height: 1.54;
    margin-bottom: 50px;
}

.display-7 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    line-height: 1.1;
}
.mbr-text {
    font-style: normal;
}

.message .container .row .image_img #vc{
    object-fit: contain;
}
/* Testimonials */
/* .card{
    
    border:none;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
} */

/* .testimonials-slider{
    background-color: #2A2C39;
}

.testimonials-slider .container .row .text-block .title-block h3{
    font-family: 'Lato';
    padding-top: 2%;
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.carousel-controls {
    display: -webkit-flex;
}

.testimonials-slider .carousel-controls a {
    transition: .3s;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background: transparent;
    border: 2px solid #a8a8a8;
}

.testimonials-slider .carousel-control-next, .testimonials-slider .carousel-control-prev {
    position: relative;
    margin-top: 2.8rem;
    opacity: 1 !important;
}

.carousel-control-next, .carousel-control-prev {
    top: 0;
    bottom: 0;
    z-index: 1;

    display: flex;

    align-items: center;

    justify-content: center;

    color: #fff;
    text-align: center;
}

.carousel-control-next {
    right: 0;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.display-7 {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 500;
    text-align: left;
    color: black;
}

.testimonials-slider .carousel-item.active, .testimonials-slider .carousel-item-next, .testimonials-slider .carousel-item-prev {
    display: flex;
}

.testimonials-slider .carousel-item {
    justify-content: center;
}

.carousel-item {
    text-align: center;
}
.carousel-item {
    position: relative;
    float: left;
    width: 100%;
    margin-right: -100%;
}

.testimonials-slider .item-text {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 480px !important;
}

.testimonials-slider .card-inner {
    box-shadow: 0 3px 15px 2px rgb(0 0 0 / 6%);
    background-color: #ffffff;
    padding: 3.5rem 2rem;
} */

.testimonials-slider{
    background-color: #2A2C39;
}

.testimonials-slider h1{
    font-family: 'Lato';
    padding-top: 2%;
    padding-bottom: 30px;
    font-size: 35px;
   
    font-weight: 600;
    color: white;
    text-align: center;
}
.testimonials-slider .card{
    border-radius: 1rem;
    box-shadow: 0px -10px 0px rgb(193, 107, 243);
    padding: 20px;
    width: auto;
    display: grid;
    
    justify-items: center;
    background-color: #eee;
    margin: 5px;
    min-height: 200px;
}

@media(max-width:767px){
    .card{
        margin: 1rem 0.7rem 1rem;
        max-width: 80vw;
    }
}
.testimonials-slider img{
    width: 6.2rem;
    border-radius: 5rem;
    margin: 1.3rem auto 1rem auto;
    padding-top: 4px;
    padding-bottom: 4px;
}
.col-md-4{
    padding:0  0.5rem;
}
.card-title{
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Lato';
    padding-top: 4px;
    padding-bottom: 4px;
}
.card-text{
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: rgb(82, 81, 81);
    line-height: 1.4rem;
    padding-top: 80px;
    padding-bottom: 4px;
}
.footer{
    border-top: none;
    text-align: center;
    line-height: 1.2rem;
    padding: 2rem 0 1.4rem 0;
    font-family: 'Lato';
    padding-top: 200px;
    padding-bottom: 4px;
}
#name{
    font-size: 0.8rem;
    font-weight: bold;
}
#position{
    font-size: 0.7rem;
}
a{
    color: rgb(237, 164, 255);
    font-weight: bold;
}
a:hover{
    color: rgb(237, 164, 255);
}